In [9]:
library(tidyverse)
library(repr)
library(readxl)
options(repr.matrix.max.rows = 8)

In [10]:
credit_data <- read_excel("data/creditcarddata.xls", skip = 1)
credit_data

      ID    LIMIT_BAL SEX EDUCATION MARRIAGE AGE PAY_0 PAY_2 PAY_3 PAY_4 ⋯
1     1      20000    2   2         1        24   2    2     -1    -1    ⋯
2     2     120000    2   2         2        26  -1    2      0     0    ⋯
3     3      90000    2   2         2        34   0    0      0     0    ⋯
4     4      50000    2   2         1        37   0    0      0     0    ⋯
⋮     ⋮     ⋮         ⋮   ⋮         ⋮        ⋮   ⋮     ⋮     ⋮     ⋮     ⋱
29997 29997 150000    1   3         2        43  -1    -1    -1    -1    ⋯
29998 29998  30000    1   2         2        37   4     3     2    -1    ⋯
29999 29999  80000    1   3         1        41   1    -1     0     0    ⋯
30000 30000  50000    1   2         1        46   0     0     0     0    ⋯
      BILL_AMT4 BILL_AMT5 BILL_AMT6 PAY_AMT1 PAY_AMT2 PAY_AMT3 PAY_AMT4
1         0         0         0        0      689        0        0
2      3272      3455      3261        0     1000     1000     1000
3     14331     14948     15549     1518     1500     1000     1000
4     28314     28959     29547     2000     2019     1200     1100
⋮     ⋮         ⋮         ⋮         ⋮        ⋮        ⋮        ⋮
29997  8979      5190         0      1837    3526      8998     129
29998 20878     20582     19357         0       0     22000    4200
29999 52774     11855     48944     85900    3409      1178    1926
30000 36535     32428     15313      2078    1800      1430    1000
      PAY_AMT5 PAY_AMT6 default payment next month
1        0        0     1
2        0     2000     1
3     1000     5000     0
4     1069     1000     0
⋮     ⋮        ⋮        ⋮
29997     0       0     0
29998  2000    3100     1
29999 52964    1804     1
30000  1000    1000     1